    <section class="section" style="padding-bottom:0;"> 
        <div class="container">  

            <div class="contact-partial">
                <div class="home-contact-text">
                    <p class="small-head-text">Get in touch</p>
                    <div class="title">Let’s work together</div>
                    <div class="subtitle">If you have a website or web application idea in mind or you want to build your next Ecommerce or SaaS Business, feel free to <strong><a href="/contact">contact us.</a></strong> 
                    <br><br>
                    Currently our time books quickly, so the sooner you write, the better it is for both of us.</div>
                </div>
                <br>
                <div class="round-img">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="/images/kausikdas.jpeg">
                    </figure>
                    <p class="round-img-txt"><strong>Reply time:</strong> within 1-2 working days</p>
                </div>
                <br>
                <div class="buttons">
                    <a href="{{ .Site.BaseURL }}contact" class="button is-primary">
                        <strong>Start your Free Email Consultation</strong>
                    </a>
                </div>
            </div>

        </div>
    </section>