<header>
<nav class="navbar is-fixed-top is-transparent header-nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="social-icons-mobile-flex">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <div class="title logo">KD & Intelligent</div>
        </a>

        <!--mobile social icons START-->
        <div class="social-icons-mobile">
          <a href="https://www.instagram.com/ikausik" target="_blank" class="navbar-item mobile-icons is-hidden-desktop">
            <img src="/svg/instagram4.svg" alt="Instagram">
          </a>

          <a href="https://www.twitter.com/kausik47" target="_blank" class="navbar-item mobile-icons is-hidden-desktop">
            <img src="/svg/twitter4.svg" alt="Twitter">
          </a>

          <a href="https://www.github.com/ikausik" target="_blank" class="navbar-item mobile-icons is-hidden-desktop">
            <img src="/svg/github-icon.svg" alt="GitHub">
          </a>

          <a href="mailto:kausik@kausikdas.com" class="navbar-item mobile-icons is-hidden-desktop">
            <img src="/svg/gmail.svg" alt="Email">
          </a>
        </div>
      <!--mobile social icons END-->
      </div>
  
    
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">  
<!--
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Services
        </a>

          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item">
              UI/UX
            </a>
            <a class="navbar-item">
              Web Development
            </a>
            <a class="navbar-item">
              Mobile App Development
            </a>
            <a class="navbar-item">
              Data Science
            </a>
            <a class="navbar-item">
              Machine Learning
            </a>
            <a class="navbar-item">
              Blockchain
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Solutions
          </a>
  
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item">
                SaaS
              </a>
              <a class="navbar-item">
                Ecommerce
              </a>
              <a class="navbar-item">
                Fintech
              </a>
              <a class="navbar-item">
                Proptech
              </a>
              <a class="navbar-item">
                Artificial Intelligent (AI)
              </a>
              <a class="navbar-item">
                Blockchain
              </a>
            </div>
        </div>

        <a class="navbar-item">
          Case Study
        </a>

        <a class="navbar-item">
          Tools
        </a>

        <a class="navbar-item">
          Resources
        </a>
-->
        <a href="{{ .Site.BaseURL }}blog" class="navbar-item">
          Blog
        </a>

        <a href="{{ .Site.BaseURL }}about" class="navbar-item">
          About
        </a>
        
        <a href="https://www.instagram.com/ikausik" target="_blank" class="navbar-item is-hidden-touch">
          <img src="/svg/instagram4.svg" alt="Instagram">
        </a>

        <a href="https://www.twitter.com/kausik47" target="_blank" class="navbar-item is-hidden-touch">
          <img src="/svg/twitter4.svg" alt="Twitter">
        </a>

        <a href="https://www.github.com/ikausik" target="_blank" class="navbar-item is-hidden-touch">
          <img src="/svg/github-icon.svg" alt="GitHub">
        </a>

        <a href="mailto:kausik@kdintelligent.com" class="navbar-item is-hidden-touch">
          <img src="/svg/gmail.svg" alt="Email">
        </a>

        <div class="navbar-item">
          <div class="buttons">
            <a href="{{ .Site.BaseURL }}contact" class="button is-primary">
              <strong>Contact</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>